[submodule "pipelines/rnaseq/upstream"]
	path = pipelines/rnaseq/upstream
	url = https://github.com/nf-core/rnaseq.git
[submodule "pipelines/sarek/upstream"]
	path = pipelines/sarek/upstream
	url = https://github.com/nf-core/sarek.git
[submodule "pipelines/scrnaseq/upstream"]
	path = pipelines/scrnaseq/upstream
	url = https://github.com/nf-core/scrnaseq.git
[submodule "pipelines/fetchngs/upstream"]
	path = pipelines/fetchngs/upstream
	url = https://github.com/nf-core/fetchngs.git
[submodule "pipelines/airrflow/upstream"]
	path = pipelines/airrflow/upstream
	url = https://github.com/nf-core/airrflow.git
[submodule "pipelines/ampliseq/upstream"]
	path = pipelines/ampliseq/upstream
	url = https://github.com/nf-core/ampliseq.git
[submodule "pipelines/atacseq/upstream"]
	path = pipelines/atacseq/upstream
	url = https://github.com/nf-core/atacseq.git
[submodule "pipelines/bacass/upstream"]
	path = pipelines/bacass/upstream
	url = https://github.com/nf-core/bacass.git
[submodule "pipelines/bactmap/upstream"]
	path = pipelines/bactmap/upstream
	url = https://github.com/nf-core/bactmap.git
[submodule "pipelines/bamtofastq/upstream"]
	path = pipelines/bamtofastq/upstream
	url = https://github.com/nf-core/bamtofastq.git
[submodule "pipelines/callingcards/upstream"]
	path = pipelines/callingcards/upstream
	url = https://github.com/nf-core/callingcards.git
[submodule "pipelines/chipseq/upstream"]
	path = pipelines/chipseq/upstream
	url = https://github.com/nf-core/chipseq.git
[submodule "pipelines/circdna/upstream"]
	path = pipelines/circdna/upstream
	url = https://github.com/nf-core/circdna.git
[submodule "pipelines/coproid/upstream"]
	path = pipelines/coproid/upstream
	url = https://github.com/nf-core/coproid.git
[submodule "pipelines/createpanelrefs/upstream"]
	path = pipelines/createpanelrefs/upstream
	url = https://github.com/nf-core/createpanelrefs.git
[submodule "pipelines/createtaxdb/upstream"]
	path = pipelines/createtaxdb/upstream
	url = https://github.com/nf-core/createtaxdb.git
[submodule "pipelines/crisprseq/upstream"]
	path = pipelines/crisprseq/upstream
	url = https://github.com/nf-core/crisprseq.git
[submodule "pipelines/cutandrun/upstream"]
	path = pipelines/cutandrun/upstream
	url = https://github.com/nf-core/cutandrun.git
[submodule "pipelines/demo/upstream"]
	path = pipelines/demo/upstream
	url = https://github.com/nf-core/demo.git
[submodule "pipelines/demultiplex/upstream"]
	path = pipelines/demultiplex/upstream
	url = https://github.com/nf-core/demultiplex.git
[submodule "pipelines/denovotranscript/upstream"]
	path = pipelines/denovotranscript/upstream
	url = https://github.com/nf-core/denovotranscript.git
[submodule "pipelines/detaxizer/upstream"]
	path = pipelines/detaxizer/upstream
	url = https://github.com/nf-core/detaxizer.git
[submodule "pipelines/differentialabundance/upstream"]
	path = pipelines/differentialabundance/upstream
	url = https://github.com/nf-core/differentialabundance.git
[submodule "pipelines/drop/upstream"]
	path = pipelines/drop/upstream
	url = https://github.com/nf-core/drop.git
[submodule "pipelines/drugresponseeval/upstream"]
	path = pipelines/drugresponseeval/upstream
	url = https://github.com/nf-core/drugresponseeval.git
[submodule "pipelines/epitopeprediction/upstream"]
	path = pipelines/epitopeprediction/upstream
	url = https://github.com/nf-core/epitopeprediction.git
[submodule "pipelines/fastqrepair/upstream"]
	path = pipelines/fastqrepair/upstream
	url = https://github.com/nf-core/fastqrepair.git
[submodule "pipelines/fastquorum/upstream"]
	path = pipelines/fastquorum/upstream
	url = https://github.com/nf-core/fastquorum.git
[submodule "pipelines/funcscan/upstream"]
	path = pipelines/funcscan/upstream
	url = https://github.com/nf-core/funcscan.git
[submodule "pipelines/genomeassembler/upstream"]
	path = pipelines/genomeassembler/upstream
	url = https://github.com/nf-core/genomeassembler.git
[submodule "pipelines/hgtseq/upstream"]
	path = pipelines/hgtseq/upstream
	url = https://github.com/nf-core/hgtseq.git
[submodule "pipelines/hic/upstream"]
	path = pipelines/hic/upstream
	url = https://github.com/nf-core/hic.git
[submodule "pipelines/hicar/upstream"]
	path = pipelines/hicar/upstream
	url = https://github.com/nf-core/hicar.git
[submodule "pipelines/hlatyping/upstream"]
	path = pipelines/hlatyping/upstream
	url = https://github.com/nf-core/hlatyping.git
[submodule "pipelines/isoseq/upstream"]
	path = pipelines/isoseq/upstream
	url = https://github.com/nf-core/isoseq.git
[submodule "pipelines/longraredisease/upstream"]
	path = pipelines/longraredisease/upstream
	url = https://github.com/nf-core/longraredisease.git
[submodule "pipelines/lsmquant/upstream"]
	path = pipelines/lsmquant/upstream
	url = https://github.com/nf-core/lsmquant.git
[submodule "pipelines/mag/upstream"]
	path = pipelines/mag/upstream
	url = https://github.com/nf-core/mag.git
[submodule "pipelines/magmap/upstream"]
	path = pipelines/magmap/upstream
	url = https://github.com/nf-core/magmap.git
[submodule "pipelines/marsseq/upstream"]
	path = pipelines/marsseq/upstream
	url = https://github.com/nf-core/marsseq.git
[submodule "pipelines/metaboigniter/upstream"]
	path = pipelines/metaboigniter/upstream
	url = https://github.com/nf-core/metaboigniter.git
[submodule "pipelines/metapep/upstream"]
	path = pipelines/metapep/upstream
	url = https://github.com/nf-core/metapep.git
[submodule "pipelines/mcmicro/upstream"]
	path = pipelines/mcmicro/upstream
	url = https://github.com/nf-core/mcmicro.git
[submodule "pipelines/metatdenovo/upstream"]
	path = pipelines/metatdenovo/upstream
	url = https://github.com/nf-core/metatdenovo.git
[submodule "pipelines/methylong/upstream"]
	path = pipelines/methylong/upstream
	url = https://github.com/nf-core/methylong.git
[submodule "pipelines/methylseq/upstream"]
	path = pipelines/methylseq/upstream
	url = https://github.com/nf-core/methylseq.git
[submodule "pipelines/mhcquant/upstream"]
	path = pipelines/mhcquant/upstream
	url = https://github.com/nf-core/mhcquant.git
[submodule "pipelines/molkart/upstream"]
	path = pipelines/molkart/upstream
	url = https://github.com/nf-core/molkart.git
[submodule "pipelines/multiplesequencealign/upstream"]
	path = pipelines/multiplesequencealign/upstream
	url = https://github.com/nf-core/multiplesequencealign.git
[submodule "pipelines/nanoseq/upstream"]
	path = pipelines/nanoseq/upstream
	url = https://github.com/nf-core/nanoseq.git
[submodule "pipelines/nanostring/upstream"]
	path = pipelines/nanostring/upstream
	url = https://github.com/nf-core/nanostring.git
[submodule "pipelines/nascent/upstream"]
	path = pipelines/nascent/upstream
	url = https://github.com/nf-core/nascent.git
[submodule "pipelines/oncoanalyser/upstream"]
	path = pipelines/oncoanalyser/upstream
	url = https://github.com/nf-core/oncoanalyser.git
[submodule "pipelines/pacvar/upstream"]
	path = pipelines/pacvar/upstream
	url = https://github.com/nf-core/pacvar.git
[submodule "pipelines/pairgenomealign/upstream"]
	path = pipelines/pairgenomealign/upstream
	url = https://github.com/nf-core/pairgenomealign.git
[submodule "pipelines/pangenome/upstream"]
	path = pipelines/pangenome/upstream
	url = https://github.com/nf-core/pangenome.git
[submodule "pipelines/pathogensurveillance/upstream"]
	path = pipelines/pathogensurveillance/upstream
	url = https://github.com/nf-core/pathogensurveillance.git
[submodule "pipelines/phaseimpute/upstream"]
	path = pipelines/phaseimpute/upstream
	url = https://github.com/nf-core/phaseimpute.git
[submodule "pipelines/phyloplace/upstream"]
	path = pipelines/phyloplace/upstream
	url = https://github.com/nf-core/phyloplace.git
[submodule "pipelines/pixelator/upstream"]
	path = pipelines/pixelator/upstream
	url = https://github.com/nf-core/pixelator.git
[submodule "pipelines/proteinannotator/upstream"]
	path = pipelines/proteinannotator/upstream
	url = https://github.com/nf-core/proteinannotator.git
[submodule "pipelines/proteinfamilies/upstream"]
	path = pipelines/proteinfamilies/upstream
	url = https://github.com/nf-core/proteinfamilies.git
[submodule "pipelines/proteinfold/upstream"]
	path = pipelines/proteinfold/upstream
	url = https://github.com/nf-core/proteinfold.git
[submodule "pipelines/rangeland/upstream"]
	path = pipelines/rangeland/upstream
	url = https://github.com/nf-core/rangeland.git
[submodule "pipelines/raredisease/upstream"]
	path = pipelines/raredisease/upstream
	url = https://github.com/nf-core/raredisease.git
[submodule "pipelines/readsimulator/upstream"]
	path = pipelines/readsimulator/upstream
	url = https://github.com/nf-core/readsimulator.git
[submodule "pipelines/reportho/upstream"]
	path = pipelines/reportho/upstream
	url = https://github.com/nf-core/reportho.git
[submodule "pipelines/ribomsqc/upstream"]
	path = pipelines/ribomsqc/upstream
	url = https://github.com/nf-core/ribomsqc.git
[submodule "pipelines/riboseq/upstream"]
	path = pipelines/riboseq/upstream
	url = https://github.com/nf-core/riboseq.git
[submodule "pipelines/rnadnavar/upstream"]
	path = pipelines/rnadnavar/upstream
	url = https://github.com/nf-core/rnadnavar.git
[submodule "pipelines/rnafusion/upstream"]
	path = pipelines/rnafusion/upstream
	url = https://github.com/nf-core/rnafusion.git
[submodule "pipelines/rnasplice/upstream"]
	path = pipelines/rnasplice/upstream
	url = https://github.com/nf-core/rnasplice.git
[submodule "pipelines/rnavar/upstream"]
	path = pipelines/rnavar/upstream
	url = https://github.com/nf-core/rnavar.git
[submodule "pipelines/scnanoseq/upstream"]
	path = pipelines/scnanoseq/upstream
	url = https://github.com/nf-core/scnanoseq.git
[submodule "pipelines/seqinspector/upstream"]
	path = pipelines/seqinspector/upstream
	url = https://github.com/nf-core/seqinspector.git
