[submodule "pipelines/rnaseq/upstream"]
	path = pipelines/rnaseq/upstream
	url = https://github.com/nf-core/rnaseq.git
[submodule "pipelines/sarek/upstream"]
	path = pipelines/sarek/upstream
	url = https://github.com/nf-core/sarek.git
[submodule "pipelines/scrnaseq/upstream"]
	path = pipelines/scrnaseq/upstream
	url = https://github.com/nf-core/scrnaseq.git
[submodule "pipelines/fetchngs/upstream"]
	path = pipelines/fetchngs/upstream
	url = https://github.com/nf-core/fetchngs.git
