[submodule "pipelines/rnaseq/upstream"]
	path = pipelines/rnaseq/upstream
	url = https://github.com/nf-core/rnaseq.git
[submodule "pipelines/sarek/upstream"]
	path = pipelines/sarek/upstream
	url = https://github.com/nf-core/sarek.git
[submodule "pipelines/scrnaseq/upstream"]
	path = pipelines/scrnaseq/upstream
	url = https://github.com/nf-core/scrnaseq.git
[submodule "pipelines/fetchngs/upstream"]
	path = pipelines/fetchngs/upstream
	url = https://github.com/nf-core/fetchngs.git
[submodule "pipelines/airrflow/upstream"]
	path = pipelines/airrflow/upstream
	url = https://github.com/nf-core/airrflow.git
[submodule "pipelines/ampliseq/upstream"]
	path = pipelines/ampliseq/upstream
	url = https://github.com/nf-core/ampliseq.git
[submodule "pipelines/atacseq/upstream"]
	path = pipelines/atacseq/upstream
	url = https://github.com/nf-core/atacseq.git
[submodule "pipelines/bacass/upstream"]
	path = pipelines/bacass/upstream
	url = https://github.com/nf-core/bacass.git
[submodule "pipelines/bactmap/upstream"]
	path = pipelines/bactmap/upstream
	url = https://github.com/nf-core/bactmap.git
[submodule "pipelines/bamtofastq/upstream"]
	path = pipelines/bamtofastq/upstream
	url = https://github.com/nf-core/bamtofastq.git
[submodule "pipelines/callingcards/upstream"]
	path = pipelines/callingcards/upstream
	url = https://github.com/nf-core/callingcards.git
[submodule "pipelines/chipseq/upstream"]
	path = pipelines/chipseq/upstream
	url = https://github.com/nf-core/chipseq.git
[submodule "pipelines/circdna/upstream"]
	path = pipelines/circdna/upstream
	url = https://github.com/nf-core/circdna.git
[submodule "pipelines/coproid/upstream"]
	path = pipelines/coproid/upstream
	url = https://github.com/nf-core/coproid.git
[submodule "pipelines/createpanelrefs/upstream"]
	path = pipelines/createpanelrefs/upstream
	url = https://github.com/nf-core/createpanelrefs.git
[submodule "pipelines/createtaxdb/upstream"]
	path = pipelines/createtaxdb/upstream
	url = https://github.com/nf-core/createtaxdb.git
[submodule "pipelines/crisprseq/upstream"]
	path = pipelines/crisprseq/upstream
	url = https://github.com/nf-core/crisprseq.git
[submodule "pipelines/cutandrun/upstream"]
	path = pipelines/cutandrun/upstream
	url = https://github.com/nf-core/cutandrun.git
[submodule "pipelines/demo/upstream"]
	path = pipelines/demo/upstream
	url = https://github.com/nf-core/demo.git
[submodule "pipelines/demultiplex/upstream"]
	path = pipelines/demultiplex/upstream
	url = https://github.com/nf-core/demultiplex.git
[submodule "pipelines/denovotranscript/upstream"]
	path = pipelines/denovotranscript/upstream
	url = https://github.com/nf-core/denovotranscript.git
[submodule "pipelines/detaxizer/upstream"]
	path = pipelines/detaxizer/upstream
	url = https://github.com/nf-core/detaxizer.git
[submodule "pipelines/differentialabundance/upstream"]
	path = pipelines/differentialabundance/upstream
	url = https://github.com/nf-core/differentialabundance.git
[submodule "pipelines/drop/upstream"]
	path = pipelines/drop/upstream
	url = https://github.com/nf-core/drop.git
[submodule "pipelines/drugresponseeval/upstream"]
	path = pipelines/drugresponseeval/upstream
	url = https://github.com/nf-core/drugresponseeval.git
[submodule "pipelines/epitopeprediction/upstream"]
	path = pipelines/epitopeprediction/upstream
	url = https://github.com/nf-core/epitopeprediction.git
[submodule "pipelines/fastqrepair/upstream"]
	path = pipelines/fastqrepair/upstream
	url = https://github.com/nf-core/fastqrepair.git
[submodule "pipelines/fastquorum/upstream"]
	path = pipelines/fastquorum/upstream
	url = https://github.com/nf-core/fastquorum.git
[submodule "pipelines/funcscan/upstream"]
	path = pipelines/funcscan/upstream
	url = https://github.com/nf-core/funcscan.git
[submodule "pipelines/genomeassembler/upstream"]
	path = pipelines/genomeassembler/upstream
	url = https://github.com/nf-core/genomeassembler.git
[submodule "pipelines/hgtseq/upstream"]
	path = pipelines/hgtseq/upstream
	url = https://github.com/nf-core/hgtseq.git
